<div id="formdiv">
    <h3>Please provide your details</h3>
    <br/>
    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)" style="margin-top:0.5%">
        <table>
    <tr class="error">
        <td>
        </td>
        <td>
             * All fields are required
        </td>
        </tr>
    <tr>
        <td class="rightalign">
            <label for="firstname">Firstname</label>
        </td>
        <td>
            <input type="text" name="firstname" id="firstname" formControlName="firstname" maxlength="200">
        </td>
        <td>
        </td>
    </tr>
    <tr *ngIf="form.controls.firstname.errors?.pattern" class="error">
        <td>
        </td>
        <td>
            <div >
               Firstname is invalid characters
            </div>
        </td>
    </tr>
    <br/>
    <tr>
        <td class="rightalign">
            <label for="lastname">Lastname</label>
        </td>
        <td>
            <input type="text" name="lastname" id="lastname" formControlName="lastname" maxlength="200">
        </td>
        <td>
        </td>
    </tr>
    <tr *ngIf="form.controls.lastname.errors?.pattern" class="error">
        <td>
        </td>
        <td>
            <div>
               Lastname is invalid characters
            </div>
        </td>
    </tr>
    <br/>
    <tr>
        <td class="rightalign">
            <label for="university">University</label>
        </td>
        <td>
            <select name="university" id="university" formControlName="university">
                <option value="NEU">Northeastern University</option>
                <option value="BU">Boston University</option>
                <option value="HD">Harvard University</option>
                <option value="MIT">Mass. Institute Technology</option>
                <option value="UMASS">Univeristy of Massachusetts Amherst</option>
                <option value="CT">California Institute of Technology</option>
            </select>
        </td>
    </tr>
    <br/>
    <tr>
        <td class="rightalign">
            <label for="department">Department</label>
        </td>
        <td>
            <select name="department" id="department" formControlName="department" maxlength="200">
                <option value="CS">Computer Science</option>
                <option value="IS">Information Systems</option>
                <option value="EM">Engineering Management</option>
                <option value="PHY">Physics</option>
                <option value="CHEM">Chemistry</option>
                <option value="ENG">English</option>
            </select>
        </td>
    </tr>
    <br/>
    <tr>
        <td class="rightalign">
            <label for="email">E-mail</label>
        </td>
        <td>
            <input type="email" name="email" id="email" formControlName="email" maxlength="200">
        </td>
    </tr>
    <br/>
    <tr>
        <td class="rightalign">
            <label for="role">Join as</label>
        </td>
        <td>
            <select name="role" id="role" formControlName="role">
                <option value="S">Student</option>
                <option value="I">Instructor</option>
            </select>
        </td>
    </tr>
    <br/>
</table>
<div style="margin-left:2.0%; margin-bottom: 2%">
<button type="submit" [disabled]="!form.valid"routerLink='/search'>Save</button>
<button type="button" style="margin-left:3%" routerLink='/register'>Cancel</button>
</div>
</form>
</div>